body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f7f7f7;
}

.header {
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2em;
  font-weight: bold;
}

.header {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 0;
}

.header a:hover {
  color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

th {
  background-color: #f2dede;
  color: black;
}

.project-members {
  list-style-type: none;
  padding-left: 0;
}

.project-members li {
  padding-left: 0;
}

.no-members-placeholder {
  display: block;
  color: #888;
}

.action-icons a {
  color: #007bff;
  text-decoration: none;
}

.action-icons a:hover {
  color: #0056b3;
}

.action-icons {
  gap: 10px;
}

.create-new-project {
  color: #007bff;
}

.delete-form {
  display: inline;
}

.delete-form button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
  color: darkred;
}

.delete-form button:hover {
  color: darkred;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 0 auto;
}

.container h1 {
  margin-top: 0;
  font-size: 24px;
}

.container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.container input,
.container textarea,
.container select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.container button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.container button:hover {
  background-color: #218838;
}

.contact-selection {
  height: 250px;
}

.placeholder {
  font-size: 1.2em;
  color: #888;
}
