body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f7f7f7;
}

.header {
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2em;
  font-weight: bold;
}

.header {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 0;
}

.header a:hover {
  color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

th {
  background-color: #f2dede;
  color: black;
}

.project-members {
  list-style-type: none;
  padding-left: 0;
}

.project-members li {
  padding-left: 0;
}

.no-members-placeholder {
  display: block;
  color: #888;
}

.action-icons a {
  color: #007bff;
  text-decoration: none;
}

.action-icons a:hover {
  color: #0056b3;
}

.action-icons {
  gap: 10px;
}

.create-new-project {
  color: #007bff;
}

.delete-form {
  display: inline;
}

.delete-form button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
  color: darkred;
}

.delete-form button:hover {
  color: darkred;
}
